# 忽略特殊文件
.idea/
*.iml
*.tfrecord
Code/utils/datamaker/rgb_to_uint8.py


# 忽略图片文件
*.jpg
*.jpeg
*.png
*.tiff

# 忽略office文件
*.xls
*.xlsx
*.ppt
*.pptx

# 忽略模型文件
*.h5
*.hdf5

# 忽略文件夹
/src_dataset
__pycache__
/Test
/Checkpoint
/Outputs
